header {
  background: #2d89ef;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f9f9f9;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 6px;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3s ease;
}